.splash{
	background-image:  url("https://socialmediaromance.files.wordpress.com/2013/05/online-dating.jpeg?w=1660&h=1246");
	width: 100vw;
	height: 100vh;
	text-align: center;
	color: white;
}

body{
	background-color: black;
	color: white;
}

.navbar{
	background-color: black;
	color: white;
	font-size: 20px;
	margin-bottom: 0px;
}

.navbar-brand{
	font-size: 40px;
	color: white;

}

.form-control{
    width: 40%;

}